<div class="row mx-auto" >
  <div class="sidebar">
    <a routerLink="/age">

      <mat-icon aria-hidden="false" aria-label="Age Icon" fontIcon="person" class="icon" ></mat-icon>
      <span>Age</span>

    </a>
    <a routerLink="/location">
      <mat-icon aria-hidden="false" aria-label="Location Icon" fontIcon="location_on" class="icon" ></mat-icon>
      <span>Location</span>
    </a>

    <a routerLink="/special-needs">
      <mat-icon aria-hidden="false" aria-label="Special Needs Icon" fontIcon="accessible" class="icon" ></mat-icon>
      <span>Special Needs</span>
    </a>

    <a routerLink="/regional-cluster">
      <mat-icon aria-hidden="false" aria-label="Age Icon" fontIcon="not_listed_location" class="icon" ></mat-icon>
      <span>Regional Cluster</span>
    </a>
  </div>
  </div>
  
