<div class="row" style="height:100%;">
    <div class="col-1">

    </div>
    <div class="col-6" style="width: 50%;">
        <app-card></app-card>

        <div style="margin-top: 2%;">
          <select [(ngModel)]="selectAge" class="filterOptions">
            <option value="" selected="selected">Select Age</option>
            <option value='1' >1</option>
            <option value='2'>2</option>
          </select>
          <select [(ngModel)]="selectCity" class="filterOptions">
            <option value="" selected="selected">Select City</option>
            <option value='Noida' >Noida</option>
            <option value='Gurgaon'>Gurgaon</option>
          </select>
          <select [(ngModel)]="selectState" class="filterOptions">
            <option value="" selected="selected">Select State</option>
            <option value='Delhi' >Delhi</option>
            <option value='Uttar Pradesh'>Uttar Pradesh</option>
          </select>
          <button class="filterButton" >Apply Date Filter</button>
        </div>

            <div style="height: 20%;">
              <div >
                <canvas id="specialBar"></canvas>
                <select [(ngModel)]="lessThanOrGreaterThan" style="width: 150px;height: 30px;">
                  <option value='lessThan'>Less Than</option>
                  <option value='greaterThan'>Greater Than</option>
                </select>&nbsp;&nbsp;
                <input [(ngModel)]="filterLimit" placeholder="Filter Limit" style="width: 150px;height: 30px;"><br><br>
                <button class="button" (click)="applyFilter(filterLimit)">Apply Filter</button>
              <hr/>
            <div style="margin-left: auto">
              <select [(ngModel)]="from" style="width: 150px;height: 30px;">
                <option *ngFor="let m of months" [value]='m.value'>{{m.month}}</option>
              </select>
            &nbsp;&nbsp;
            
            <select [(ngModel)]="toMonth" style="width: 150px;height: 30px;">
              <option *ngFor="let m1 of months" [value]='m1.value'>{{m1.month}}</option>
            </select> 
            </div>
            <button class="button" (click)="applyDateFilter()">Apply Date Filter</button>
            
              </div>
              
                
            </div>
          </div>     
          <div class="col-1">

          </div>
        <div class="col-4" style="margin-top: 3%;">
          <div>
          <h6 style="display: inline-block;">Analytical Intelligence</h6>
          <a class="close-icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>
          </a>
        </div>
          <hr/>
          <div>
            <mat-tab-group class="tab-style">
              <mat-tab label="Insights" class="tab-style">
                <div *ngFor="let item of articles">
                  <div class="article-div">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="list" class="icon" ></mat-icon>
                  {{item.heading}}
                </div>
                <div style="padding:.5%"></div>
              </div>
              </mat-tab>
              <mat-tab label="Saved"> Content 2 </mat-tab>
              <mat-tab label="Read"> Content 3 </mat-tab>
            </mat-tab-group>            
          </div>
          <div>
            <h6 style="display: inline-block;">Suggested Actions</h6>
            <a class="close-icon">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>
            </a>
          </div>
          <div>
            <mat-tab-group class="tab-style">
              <mat-tab label="Insights" class="tab-style">
                <div *ngFor="let item of articles">
                  <div class="article-div">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="list" class="icon" 
                    style="vertical-align: bottom;"></mat-icon>
                  {{item.heading}}
                </div>
                <div style="padding:.5%"></div>
              </div>
              </mat-tab>
              <mat-tab label="Saved"> Content 2 </mat-tab>
              <mat-tab label="Read"> Content 3 </mat-tab>
            </mat-tab-group>            
          </div>
        </div>
</div>

